<!-- 防止乱码 -->
 
 <div>
 aaa
 </div>
 
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/loader-style.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">

 
<!-- 头部 -->
 
  
    <div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<nav role="navigation" class="navbar navbar-static-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle"
					type="button">
					<span class="entypo-menu"></span>
				</button>
				<button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
					<span class="entypo-list-add"></span>
				</button>
				<div id="logo-mobile" class="visible-xs">
					<h1>垃圾回收管理系统<span>v0.1</span></h1>
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
			
			 

				<ul style="margin-right:0;" class="nav navbar-nav navbar-right">
					<li>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<img alt="" class="admin-pic img-circle"
								src="http://api.randomuser.me/portraits/thumb/men/10.jpg">Admin <b class="caret"></b>
						</a>
						<ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
							<li>
								<a href="#">
									<span class="entypo-user"></span>&#160;&#160;修改密码</a>
							</li>
						
							<li class="divider"></li>
							<li>
								<a href="http://themeforest.net/item/apricot-navigation-admin-dashboard-template/7664475?WT.ac=category_item&WT.z_author=themesmile">
									<span class="entypo-basket"></span>&#160;&#160; 注销</a>
							</li>
						</ul>
					</li>
					
					<li class="hidden-xs" >
						<a class="toggle-left" href="#">
							<span style="font-size:20px;" class="entypo-list-add" hidden></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- /END OF TOP NAVBAR -->
 	<script type="text/javascript" src="../assets/js/jquery.js"></script>

	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	
