@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  /* src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans-light.woff) format('woff'); */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /* src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-normal.woff) format('woff'); */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  /* src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-bold.woff) format('woff'); */
}