<link rel="stylesheet" href="../assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/js/tree/jquery.treeview.css">

    <!-- <link rel="stylesheet" href="../red-treeview.css"> -->



    <link rel="stylesheet" href="assets/js/tree/treetable/stylesheets/jquery.treetable.css">

    <link rel="stylesheet" href="assets/js/tree/treetable/stylesheets/jquery.treetable.theme.default.css">

    <link href="assets/js/tree/tabelizer/tabelizer.min.css" media="all" rel="stylesheet" type="text/css">
    <style>
         .rightDiv{

            height: 100%;
        }
        .mapDiv{
            width: 100%;
            height: 50%;
        }
        .carlist{
            width: 100%;
            height: 50%;
        }
    </style>
    <div class="col-sm-3" id="tabletree">
        <!-- <a style="margin:0 0 10px; 0" href="#" class="pull-right btn btn-info" onClick="jQuery('#example-advanced').treetable('expandAll'); return false;">Expand all</a>
        <a style="margin:0 10px 10px; 0;" href="#" class="pull-right btn btn-info" onClick="jQuery('#example-advanced').treetable('collapseAll'); return false;">Collapse all</a> -->
        <button onclick="showTips()">隐藏/展示</button>
        <table id="example-advanced" class="table-striped">
            <thead>
                <tr>
                    <th>名称</th>
                    <th class="numShow">总</th>
                    <th class="numShow">在</th>
                    <th class="numShow">离</th class="numShow">
                    <th class="numShow">行</th class="numShow">
                    <th class="numShow">停</th class="numShow">
                    <!-- <th>总数量</th>
                    <th>在线数量</th>
                    <th>离线数量</th>

                    <th>行驶数量</th>
                    <th>停止数量</th> -->
                </tr>
            </thead>

            <tbody>
                <tr data-tt-id='1'>
                    <!-- <td><input type="checkbox" value=""></td> -->
                    <td>
                        <span class='file'><input type="checkbox" value="">康弘环保有限公司aaa dsadsad 打撒的撒</span>
                    </td>
                    <td class="numShow">1222222211</td class="numShow">
                    <td class="numShow">3</td class="numShow">
                    <td class="numShow">34</td class="numShow">
                    <td class="numShow">0</td class="numShow">
                    <td class="numShow">132</td class="numShow">
                     
                </tr>
                <tr data-tt-id='2'>
                    <!-- <td><input type="checkbox" value=""></td> -->
                    <td>
                        <span class='file'><input type="checkbox" value="">康弘环保有限公司2</span>
                    </td>
                    <td class="numShow">111</td class="numShow">
                    <td class="numShow">3</td class="numShow">
                    <td class="numShow">34</td class="numShow">
                    <td class="numShow">0</td class="numShow">
                    <td class="numShow">132</td class="numShow">
                     
                </tr>
                <tr data-tt-id='2-1' data-tt-parent-id="2">
                    <!-- <td><input type="checkbox" value=""></td> -->
                    <td>
                        <span class='file'><input type="checkbox" value="">康弘环保有限公司21</span>
                    </td>
                    <td class="numShow">111</td class="numShow">
                    <td class="numShow">3</td class="numShow">
                    <td class="numShow">34</td class="numShow">
                    <td class="numShow">0</td class="numShow">
                    <td class="numShow">132</td class="numShow">
                     
                </tr>

                <!-- <tr data-tt-id='2'>
                    <td>
                        <span class='folder'>CHUD</span>
                    </td>
                    <td>Folder</td>
                    <td>--</td>
                </tr>

                <tr data-tt-id='2-1' data-tt-parent-id='2'>
                    <td>
                        <span class='folder'>amber</span>
                    </td>
                    <td>Folder</td>
                    <td>--</td>
                </tr>
                <tr data-tt-id='2-1-1' data-tt-parent-id='2-1'>
                    <td>
                        <span class='file'>AmberTraceFormats.pdf</span>
                    </td>
                    <td>File</td>

                    <td>124.46 KB</td>

                </tr>

                <tr data-tt-id='2-2' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>BigTop</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr>

                <tr data-tt-id='2-2-1' data-tt-parent-id='2-2'>

                    <td>

                        <span class='file'>BigTopUserGuide.pdf</span>

                    </td>

                    <td>File</td>

                    <td>1314.71 KB</td>

                </tr>

                <tr data-tt-id='2-3' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>Saturn</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr>

                <tr data-tt-id='2-3-1' data-tt-parent-id='2-3'>

                    <td>

                        <span class='file'>SaturnUserGuide.pdf</span>

                    </td>

                    <td>File</td>

                    <td>694.29 KB</td>

                </tr>

                <tr data-tt-id='2-4' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>Shark</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr>

                <tr data-tt-id='2-4-1' data-tt-parent-id='2-4'>

                    <td>

                        <span class='file'>SharkUserGuide.pdf</span>

                    </td>

                    <td>File</td>

                    <td>12902.51 KB</td>

                </tr>

                <tr data-tt-id='2-5' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>simg4</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr>

                <tr data-tt-id='2-6' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>simg4_plus</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr>

                <tr data-tt-id='2-7' data-tt-parent-id='2'>

                    <td>

                        <span class='folder'>simg5</span>

                    </td>

                    <td>Folder</td>

                    <td>--</td>

                </tr> -->
            </tbody>
        </table>
    </div>

    <div class="col-sm-9 rightDiv">
        <div class="row mapDiv">
             <object class="map" data="./view/food_map.html" type="" style="width: 100%;height: 100%;"></object>
             <!-- <iframe name="base-table2" class="base-table2" src="./view/base-table.html" frameborder="0"></iframe> -->
        </div>  
        <div class="row carlist">
            <object name="base-table" class="base-table" data="./view/base-table.html" type="" style="width: 100%;height: 100%;"></object>
        </div>
    </div>
    <button onclick="dotest()" >ttttest</button>
    
    <input id = "test112" value="999888">
 
<!-- <script type="text/javascript" src="../assets/js/jquery.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.js"></script> -->


    <!-- /MAIN EFFECT -->

    <!-- <script src="assets/js/tree/lib/jquery.cookie.js" type="text/javascript"></script> -->
    <script src="assets/js/tree/jquery.treeview.js" type="text/javascript"></script>

    <script src="assets/js/tree/tabelizer/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="assets/js/tree/tabelizer/jquery.tabelizer.js"></script>

    <script src="assets/js/tree/treetable/vendor/jquery-ui.js"></script>
    <script src="assets/js/tree/treetable/javascripts/src/jquery.treetable.js"></script>

    <script>
    function dotest() {
        // var val =$('#test111').val();
        //     console.log(val);
            var val = $(".base-table").context;
            var val2 = $(".base-table2").context;
            // var val2 =    window.frames["base-table"].document.getElementById("test111");
            // console.log(val.getElementsById('test111'));
            console.log(val2);
            console.log(window.frames["base-table"].document.getElementById('test111').value);
    }
        $(function(){
            
            var val =$('#test111').val();
            console.log(val);
        //     $('.map').width($(".mapDiv").width()*3/4);
        //     // $('.map').height($(".mainView").height()*2/4);
        })

        function showTips() {

            $(".numShow").toggle();
        }
    $("#example-advanced").treetable({

        expandable: true

    });

    // Highlight selected row
    $("#example-advanced tbody").on("mousedown", "tr", function() {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });

    // Drag & Drop Example Code

    $("#example-advanced .file, #example-advanced .folder").draggable({
        helper: "clone",
        opacity: .75,
        refreshPositions: true, // Performance?
        revert: "invalid",
        revertDuration: 300,
        expandable: true,
        scroll: true
    });


    $("#example-advanced .folder").each(function() {
        $(this).parents("#example-advanced tr").droppable({
            accept: ".file, .folder",
            drop: function(e, ui) {
                var droppedEl = ui.draggable.parents("tr");
                $("#example-advanced").treetable("move", droppedEl.data("ttId"), $(this).data("ttId"));
            },
            hoverClass: "accept",
            over: function(e, ui) {
                var droppedEl = ui.draggable.parents("tr");
                if (this != droppedEl[0] && !$(this).is(".expanded")) {
                    $("#example-advanced").treetable("expandNode", $(this).data("ttId"));
                }

            }

        });

    });



    // $("form#reveal").submit(function() {

    //     var nodeId = $("#revealNodeId").val()



    //     try {

    //         $("#example-advanced").treetable("reveal", nodeId);

    //     } catch (error) {

    //         alert(error.message);

    //     }



    //     return false;

    // });

    </script>


 













