	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/loader-style.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/js/progress-bar/number-pb.css"> 	  
    <link href="../assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="../assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="../assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css"> 
	<link rel="stylesheet" href="../assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">    
	<link rel="stylesheet" href="../assets/js/dataTable/css/datatables.responsive.css">  

<div class="row">
                    <div class="col-sm-12">
                        <div class="nest" id="FootableClose">
                            <div class="title-alt">
                                <h6>小例子</h6>
                                <div class="titleClose">
                                    <!-- <a class="gone" href="#FootableClose">
                                        <span class="entypo-cancel"></span>
                                    </a> -->
                                    
                                </div>
                                <!-- <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#Footable">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div> -->
                            </div>
                            <div class="body-nest" id="Footable">
                                <p class="lead well">做一个增删改查的小栗子</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">我就试试弹个输入框</button>
									<div class="row" style="margin-bottom:10px;">
										<div class="col-sm-4">
											<input class="form-control" id="filter" placeholder="Search..." type="text">
										</div>
	
										<div class="col-sm-2">
	
											<select class="filter-status form-control">
	
												<option value="active">男
	
												<option value="disabled">女
	
												<option value="suspended">未知
	
											</select>
	
										</div>
	
										<div class="col-sm-6">
											<a href="#clear" style="margin-left:10px;"
												class="pull-right btn btn-info clear-filter" title="clear filter">clear</a>
											<a href="#api" class="pull-right btn btn-info filter-api"
												title="Filter using the Filter API">filter API</a>
										</div>
									</div>
                                <table class="table-striped footable-res footable metro-blue footable-loaded default" data-page-size="6">
                                    <thead>
                                        <tr>
                                            <th class="footable-first-column footable-sortable">
                                                姓名
                                            <span class="footable-sort-indicator"></span></th>
                                            <th class="footable-sortable">
                                                年龄
                                            <span class="footable-sort-indicator"></span></th>
                                            <th data-hide="phone,tablet" class="footable-sortable">
                                                性别
                                            <span class="footable-sort-indicator"></span></th>
                                            <th data-hide="phone,tablet" class="footable-sortable">
                                                籍贯
                                            <span class="footable-sort-indicator"></span></th>
                                            <th data-hide="phone" class="footable-last-column footable-sortable">
                                                备注
                                            <span class="footable-sort-indicator"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table22" class="table22">
                                        <tr style="display: table-row;">
                                            <td class="footable-first-column"><span class="footable-toggle"></span>Isidra</td>
                                            <td><a href="#">Boudreaux</a>
                                            </td>
                                            <td>Traffic Court Referee</td>
                                            <td data-value="78025368997">22 Jun 1972</td>
                                            <td data-value="1" class="footable-last-column">
                                                <span class="status-metro status-active" title="Active">Active</span>
                                            </td>
                                        </tr>
                                        <tr style="display: table-row;">
                                            <td class="footable-first-column"><span class="footable-toggle"></span>Shona</td>
                                            <td>Woldt</td>
                                            <td><a href="#">Airline Transport Pilot</a>
                                            </td>
                                            <td data-value="370961043292">3 Oct 1981</td>
                                            <td data-value="2" class="footable-last-column">
                                                <span class="status-metro status-disabled" title="Disabled">Disabled</span>
                                            </td>
										</tr>
										
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <div class="pagination pagination-centered"><ul><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                
	<!-- END OF RIGHT SLIDER CONTENT-->
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script src="../assets/js/progress-bar/src/jquery.velocity.min.js"></script>
	<script src="../assets/js/progress-bar/number-pb.js"></script>
	<script src="../assets/js/progress-bar/progress-app.js"></script>



	<!-- MAIN EFFECT -->
	<script type="text/javascript" src="../assets/js/preloader.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/app.js"></script>
	<script type="text/javascript" src="../assets/js/load.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>




	<!-- GAGE -->


	<!-- <script type="text/javascript" src="../assets/js/chart/jquery.flot.js"></script> -->
	<script type="text/javascript" src="../assets/js/chart/jquery.flot.resize.js"></script>
	<script type="text/javascript" src="../assets/js/chart/realTime.js"></script>
	<script type="text/javascript" src="../assets/js/countdown/jquery.countdown.js"></script>
	<script type="text/javascript">
		var output, started, duration, desired;

		// Constants
		duration = 5000;
		desired = '50';

		// Initial setup
		output = $('#speed');
		started = new Date().getTime();

		// Animate!
		animationTimer = setInterval(function () {
			// If the value is what we want, stop animating
			// or if the duration has been exceeded, stop animating
			if (output.text().trim() === desired || new Date().getTime() - started > duration) {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 60)

				);

			} else {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 120)

				);
			}
		}, 5000);
	</script>
	<script type="text/javascript">
		$('#getting-started').countdown('2015/01/01', function (event) {
			$(this).html(event.strftime(

				'<span>%M</span>' + '<span class="start-min">:</span>' + '<span class="start-min">%S</span>'));
		});
	</script>


    <!-- GAGE -->
    <script type="text/javascript" src="../assets/js/toggle_close.js"></script>
    <script src="../assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable-res').footable();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#footable-res2').footable().bind('footable_filtering', function (e) {
                var selected = $('.filter-status').find(':selected').text();
                 if (selected && selected.length > 0) {                      e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                    e.clear = !e.filter;
                }
            });

            $('.savebtn').click(function (e) {
                console.log(123213);
                console.log($("#table22"));
                var tr = '<tr>  <td>Lauri</td> <td>姆斯基</td> <td>jack 穆</td> \
                    <td data-value="500874333932">1999-11-11</td>  <td data-value="3"> \
                        <span class="status-metro status-suspended" \
                            title="Suspended">辞退</span>  </td>  </tr>';
                // $("#table22").html(tr); 
                $("#table22").append(tr);
            });
            $('.clear-filter').click(function (e) {
                e.preventDefault();
                $('.filter-status').val('');
                $('table.demo').trigger('footable_clear_filter');
            });

            $('.filter-status').change(function (e) {
                e.preventDefault();
                $('table.demo').trigger('footable_filter', {
                    filter: $('#filter').val()
                });
            });

            $('.filter-api').click(function (e) {
                e.preventDefault();

                //get the footable filter object
                var footableFilter = $('table').data('footable-filter');

                alert('about to filter table by "tech"');
                //filter by 'tech'
                footableFilter.filter('tech');

                //clear the filter
                if (confirm('clear filter now?')) {
                    footableFilter.clearFilter();
                }
            });
        });
    </script>