<!-- <link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/css/loader-style.css">
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/js/progress-bar/number-pb.css"> 	   -->
<link href="../assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
<link href="../assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
<link href="../assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="../assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">    
<link rel="stylesheet" href="../assets/js/dataTable/css/datatables.responsive.css">  


<p class="lead well">设备监控</p>
					<div class="row" style="margin-bottom:10px;">
						<!-- <div class="col-sm-4">
							<input class="form-control" id="filter" placeholder="Search..." type="text">
						</div> -->

						<div class="col-sm-2">所属机构
							<select class="filter-status form-control">
								<option value="1">黄埠镇垃圾分类
							</select>
                        </div>
                        <div class="col-sm-2">设备类型
							<select class="filter-status form-control">
								<option value="1">智能分类垃圾箱
								<option value="2">智能发袋机
								<option value="3">智能电子秤
							</select>
                        </div>
                        <div class="col-sm-2">设备型号
							<select class="filter-status form-control">
							
							</select>
                        </div>
                        <div class="col-sm-2">设备编号
							<input class="form-control" id="filter" placeholder="设备编号" type="text">
						</div>

						<div class="col-sm-offset-2">
                            <br>
							<a href="#clear" style="margin-left:10px;margin-right:20px;"
								class="pull-right btn btn-info clear-filter" title="clear filter">重置</a>
							<a href="#api" class="pull-right btn btn-info filter-api"
								title="Filter using the Filter API">查询</a>
						</div>
					</div>
				<table class="table-striped footable-res footable metro-blue footable-loaded default" data-page-size="6">
					<thead>
						<tr>
							<th class="footable-first-column footable-sortable">
								序号
							<span class="footable-sort-indicator"></span></th>
							<th class="footable-sortable">
								设备编号
							<span class="footable-sort-indicator"></span></th>
							<th data-hide="phone,tablet" class="footable-sortable">
								机构名称
							<span class="footable-sort-indicator"></span></th>
							<th data-hide="phone,tablet" class="footable-sortable">
								设备类型
							<span class="footable-sort-indicator"></span></th>
							<th data-hide="phone" class=" footable-sortable">
								设备型号
							<span class="footable-sort-indicator"></span></th>
                            	<th data-hide="phone" class=" footable-sortable">
								使用状态
							<span class="footable-sort-indicator"></span></th>
                            	<th data-hide="phone" class=" footable-sortable">
								历史工况
							<span class="footable-sort-indicator"></span></th>
                            	<th data-hide="phone" class=" footable-sortable">
								最新时间
							<span class="footable-sort-indicator"></span></th>
                            	<th data-hide="phone" class="footable-last-column footable-sortable">
								最新位置
							<span class="footable-sort-indicator"></span></th>
						</tr>
					</thead>
					<tbody id="table22" class="table22">
						<tr style="display: table-row;">
							<td class="footable-first-column"><span class="footable-toggle"></span>1</td>
							<td><a href="#">101988888888</a>
							</td>
							<td>黄埠镇垃圾分类</td>
							<td data-value="">智能分类垃圾箱</td>
                            <td data-value="">XJ4960LK</td>
                            
							<td data-value="1" >
								<span class="status-metro status-active" title="Active">6</span>
                                <span class="status-metro status-disabled" title="Active">66</span>
							</td>
                            <td data-value="">历史工况</td>
                             <td data-value="">2019-12-24 18:00:31</td>
                            <td   class="footable-last-column">河南省驻马店市上蔡县黄埠镇007县道</td>

						</tr>
						<tr style="display: table-row;">
							<td class="footable-first-column"><span class="footable-toggle"></span>2</td>
							<td><a href="#">101966666666</a>
							</td>
							<td>黄埠镇垃圾分类</td>
							<td data-value="">智能分类垃圾箱</td>
                            <td data-value="">XJ4960LK</td>
                            
							<td data-value="1" >
								<span class="status-metro status-active" title="Active">8</span>
                                <span class="status-metro status-suspended" title="Active">88</span>
							</td>
                            <td data-value="">历史工况</td>
                             <td data-value="">2019-12-24 18:00:31</td>
                            <td   class="footable-last-column">河南省驻马店市上蔡县黄埠镇007县道</td>

						</tr>
						
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<div class="pagination pagination-centered"><ul><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul></div>
							</td>
						</tr>
					</tfoot>
                </table>
 
	<script type="text/javascript" src="../assets/js/chart/jquery.flot.js"></script>
	<script type="text/javascript" src="../assets/js/chart/jquery.flot.resize.js"></script>
	<script type="text/javascript" src="../assets/js/chart/realTime.js"></script>
	<script type="text/javascript" src="../assets/js/countdown/jquery.countdown.js"></script>
	<script type="text/javascript">
		var output, started, duration, desired;

		// Constants
		duration = 5000;
		desired = '50';

		// Initial setup
		output = $('#speed');
		started = new Date().getTime();

		// Animate!
		animationTimer = setInterval(function () {
			// If the value is what we want, stop animating
			// or if the duration has been exceeded, stop animating
			if (output.text().trim() === desired || new Date().getTime() - started > duration) {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 60)

				);

			} else {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 120)

				);
			}
		}, 5000);
	</script>
	<script type="text/javascript">
		$('#getting-started').countdown('2015/01/01', function (event) {
			$(this).html(event.strftime(

				'<span>%M</span>' + '<span class="start-min">:</span>' + '<span class="start-min">%S</span>'));
		});
	</script>


    <!-- GAGE -->
    <script type="text/javascript" src="../assets/js/toggle_close.js"></script>
    <script src="../assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable-res').footable();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#footable-res2').footable().bind('footable_filtering', function (e) {
                var selected = $('.filter-status').find(':selected').text();
                 if (selected && selected.length > 0) {                      e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                    e.clear = !e.filter;
                }
            });

            $('.savebtn').click(function (e) {
                console.log(123213);
                console.log($("#table22"));
                var tr = '<tr>  <td>Lauri</td> <td>姆斯基</td> <td>jack 穆</td> \
                    <td data-value="500874333932">1999-11-11</td>  <td data-value="3"> \
                        <span class="status-metro status-suspended" \
                            title="Suspended">辞退</span>  </td>  </tr>';
                // $("#table22").html(tr); 
                $("#table22").append(tr);
            });
            $('.clear-filter').click(function (e) {
                e.preventDefault();
                $('.filter-status').val('');
                $('table.demo').trigger('footable_clear_filter');
            });

            $('.filter-status').change(function (e) {
                e.preventDefault();
                $('table.demo').trigger('footable_filter', {
                    filter: $('#filter').val()
                });
            });

            $('.filter-api').click(function (e) {
                e.preventDefault();

                //get the footable filter object
                var footableFilter = $('table').data('footable-filter');

                alert('about to filter table by "tech"');
                //filter by 'tech'
                footableFilter.filter('tech');

                //clear the filter
                if (confirm('clear filter now?')) {
                    footableFilter.clearFilter();
                }
            });
        });
    </script>