<!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
<link rel="stylesheet" href="../assets/css/loader-style.css">
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/js/progress-bar/number-pb.css"> 	  
<link href="../assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
<link href="../assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
<link href="../assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="../assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">    
<link rel="stylesheet" href="../assets/js/dataTable/css/datatables.responsive.css">  


<p class="lead well">设备监控</p>
					<div class="row" style="margin-bottom:10px;">
					
                        <div class="col-sm-2">用户编号/户主/电话号码
							<input class="form-control" id="user-search" placeholder="" type="text">
						</div>
						 <div class="col-sm-2">所属社区
							<select class="filter-status form-control" id="address-search">
								<option value="1">小王营 <option value="2">老王营 <option value="2">杨庄村 </select>
                        </div>
                        <div class="col-sm-2">回收类型
							<select class="filter-status form-control" id="recyle-type-search">
								<option value="1">投递回收 <option value="2">电子秤回收 <option value="3">现场回收 </select>
                        </div>
                        <div class="container col-sm-2">发生时间
                            <div class="row">
                                <div class="span4 col-sm-6">
                                    <input type="text"  class="form-control" id="dp1" value="" placeholder="开始">
                                </div>
                                <div class="span4 col-sm-6">
                                    <input type="text"  class="form-control" id="dp2" value="" placeholder="结束">
                                </div>
                                
                            </div>
                        </div>
                       
                        <div class="col-sm-2">垃圾种类
							<select class="filter-status form-control" id="waste-type-search">
							    <option value="1">厨余垃圾 <option value="2">其他垃圾 <option value="3">纸张回收物 </select>
                        </div> 
                       

						<div class="col-sm-2">
                             <div class="row">
                             </br>
                                <div class="col-sm-4">
                                    <a href="#api" class="pull-right btn btn-info filter-api"
                                    title="查询">查询</a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#clear" 
                                    class="pull-right btn btn-info clear-filter" title="重置">重置</a>
                                </div>
                                
                                <div class="col-sm-4">
                                    <a href="#add" class="pull-right btn btn-info filter-add" data-toggle="modal" data-target="#exampleModal"
                                title="补录">补录</a>
                                </div>
                             </div>
                        </div>
					</div>
				<!-- <table class="table-striped footable-res footable metro-blue footable-loaded default demo" id="" data-page-size="9" data-filter="#filter"  data-filter-text-only="true"> -->
                    <table class="demo" id="footable-res" data-page-size="9" data-filter="#filter"  data-filter-text-only="true">
				
                    <thead>
						<tr>
							<th class="footable-first-column footable-sortable">
								序号
							<span class="footable-sort-indicator"></span></th>
							<th class="footable-sortable">
								回收类型
							<span class="footable-sort-indicator"></span></th>
							<th  class="footable-sortable">
								用户编号
							<span class="footable-sort-indicator"></span></th>
							<th   class="footable-sortable">
								用户姓名
							<span class="footable-sort-indicator"></span></th>
							<th   class=" footable-sortable">
								所属社区
							<span class="footable-sort-indicator"></span></th>
                            <th   class=" footable-sortable">
								垃圾类型
							<span class="footable-sort-indicator"></span></th>
                            <th   class=" footable-sortable">
								回收时间
							<span class="footable-sort-indicator"></span></th>
                            <th   class=" footable-sortable">
								回收重量
							<span class="footable-sort-indicator"></span></th>
                            <th   class="footable-sortable">
								积分
                            <span class="footable-sort-indicator"></span> </th>
                            <th   class=" footable-sortable">
								检查结果
                            <span class="footable-sort-indicator"></span> </th>
                            <th   class="footable-last-column footable-sortable">
								评分
                            <span class="footable-sort-indicator"></span> </th>
                            <!-- <th   class="footable-last-column footable-sortable">
								评分
                            <span class="footable-sort-indicator"></span> </th> -->
						</tr>
					</thead>
					<tbody id="table22" class="table22">
						<tr style="display: table-row;">
							<td class="footable-first-column"><span class="footable-toggle"></span>1</td>
							<td data-value="1" >投递回收 </td>
							<td>54373333</td>
							<td >穆秋泉22</td>
                            <td data-value="">杨庄村</td>
                            
							<!-- <td data-value="1" >
								<span class="status-metro status-active" title="Active">6</span>
                                <span class="status-metro status-disabled" title="Active">66</span>
							</td> -->
                            <td data-value="1">厨余垃圾</td>
                             <td data-value="">2019-12-24 18:00:31</td>
                             <td data-value="">0</td>
                             <td data-value=""><span class="status-metro status-active" title="Active">0</span></td>
                       
                            <td   ><span class="status-metro status-active" title="Active">合格</span></td>
                            <td class="footable-end-column" >4</td>
						</tr>
                        <tr style="display: table-row;">
							<td class="footable-first-column"><span class="footable-toggle"></span>1</td>
							<td data-value="3" >现场回收</td>
							<td>54374444</td>
							<td data-value="">杨恨11</td>
                            <td data-value="">杨庄村</td>
                            
							<!-- <td data-value="1" >
								<span class="status-metro status-active" title="Active">6</span>
                                <span class="status-metro status-disabled" title="Active">66</span>
							</td> -->
                            <td data-value="2">其他垃圾</td>
                             <td data-value="">2019-12-24 18:00:31</td>
                             <td data-value="">0</td>
                             <td data-value=""><span class="status-metro status-active" title="Active">0</span></td>
                         
                            <td   ><span class="status-metro status-active" title="Active">合格</span></td>
                            <td   class="footable-last-column">4</td>
						</tr>
						
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="pagination pagination-centered"><ul><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul></div>
							</td>
						</tr>
					</tfoot>
                </table>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">我就试试弹个输入框</button> -->
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
                ...more buttons... -->
                
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">！！！</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="user-code" class="control-label">用户编码*:</label>
                            <input type="text" class="form-control" id="user-code">
                          </div>
                          <div class="form-group">
                            <label for="waste-type" class="control-label">垃圾类型:</label>
                            <!-- <textarea class="form-control" id="message-text"></textarea> -->
                            <select class="form-control" id="waste-type">
							    <option value="1">有害垃圾
								<option value="3">其他垃圾
							</select>
                          </div>
                          <div class="form-group">
                            <label for="waste-amount" class="control-label">垃圾投放量*:</label>
                            <input type="text" class="form-control" id="waste-amount">
                          </div>
                          <div class="form-group">
                            <label for="auditor-code" class="control-label">审核人编码*:</label>
                            <input type="text" class="form-control" id="auditor-code">
                          </div>
                         
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" id ="savebtn" class="btn btn-primary savebtn">提交</button>
                      </div>
                    </div>
                  </div>
                </div>

                       
	<!-- END OF RIGHT SLIDER CONTENT-->
	<!-- <script type="text/javascript" src="../assets/js/jquery.js"></script> -->
	<!-- <script src="../assets/js/progress-bar/src/jquery.velocity.min.js"></script> -->
	<!-- <script src="../assets/js/progress-bar/number-pb.js"></script> -->
	<!--  <script src="../assets/js/progress-bar/progress-app.js"></script> --> 



	<!-- MAIN EFFECT -->
	<!-- <script type="text/javascript" src="../assets/js/preloader.js"></script> -->
	<!-- <script type="text/javascript" src="../assets/js/bootstrap.js"></script> -->
	<!-- <script type="text/javascript" src="../assets/js/app.js"></script>
	<script type="text/javascript" src="../assets/js/load.js"></script> -->
	<!-- <script type="text/javascript" src="../assets/js/main.js"></script> -->



 
    
    <script type="text/javascript" src="assets/js/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/js/datepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript">
	
        $('#dp1').datepicker({
            language: "zh-CN"
        });
        $('#dp2').datepicker({
            
        });
	 
	</script>
	 


    <!-- GAGE -->
    <script type="text/javascript" src="../assets/js/toggle_close.js"></script>
    <script src="../assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <!-- <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script> -->
    
    <script type="text/javascript">
        $(function () {
            $('#footable-res').footable();
            $('#footable-res').footable().bind('footable_filtering', function (e) {
                
                console.log("bind footable_filtering------------");
                var selected = $('.filter-status').find(':selected').text();
                console.log(selected);
                if (selected && selected.length > 0) {

                    e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;

                    e.clear = !e.filter;

                }
                console.log(e.filter);


                // var selected = $('.filter-status').find(':selected').text();
                // console.log(selected);
                // console.log(e.filter);
                //  if (selected && selected.length > 0) { 
                //     e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                //     e.clear = !e.filter;
                // }
            });

            $('.savebtn').click(function (e) {
                // e.preventDefault();
               /* console.log(e);
                console.log($("#user-code").val()+"-"+$("#waste-type").val()+"-"+$("#waste-amount").val()+"-"+$("#auditor-code").val());
                console.log();*/
                console.log($("#user-code").val()+"-"+$("#waste-type").val()+"-"+$("#waste-amount").val()+"-"+$("#auditor-code").val());
                var userCode = $("#user-code").val();
                var wasteType = $("#waste-type").val();
                var wasteAmount = $("#waste-amount").val();
                var auditorCode = $("#auditor-code").val();
                if(userCode&&wasteAmount&&auditorCode){
                    var index = 2;
                    var recycleType = '现场回收';

                    var userName = '杨恨';
                    var address = '杨庄村';
                    var wasteTypeName = wasteType==1?'有害垃圾':'其他垃圾';
                    var recycleTime = '2019-12-24 18:00:31';
                     
                    var points = '0';
                    var checkResult = '合格';
                    var score = '6';


                    $("#exampleModal").modal('toggle');
                    var tr = '<tr style="display: table-row;"> \
							<td class="footable-first-column"><span class="footable-toggle"></span>'+index+'</td> \
							<td>'+recycleType+' </td> \
							<td>'+userCode+'</td> \
                            <td data-value="">'+userName+'</td> \
                            <td data-value="">'+address+'</td> \
                            <td data-value="">'+wasteTypeName+'</td> \
                            <td data-value="">'+recycleTime+'</td> \
                             <td data-value="">'+wasteAmount+'</td> \
                             <td data-value=""><span class="status-metro status-active" title="Active">'+points+'</span></td> \
                            <td   ><span class="status-metro status-active" title="Active">'+checkResult+'</span></td> \
                            <td class="footable-end-column" >'+score+'</td> \
						</tr>';
                // $("#table22").html(tr); 
                     $("#table22").append(tr);
                }else{
                    alert("不能为空");
                }

 
               
            });
            $('.clear-filter').click(function (e) {
                console.log("clear  footable_filtering");
                e.preventDefault();
                $('.filter-status').val('');
                $('table.demo').trigger('footable_clear_filter');
            });

            // $('.filter-status').change(function (e) {
            //     console.log("change  footable_filtering"+$('#user-search').val());
            //     e.preventDefault();
            //     $('table.demo').trigger('footable_filter', {
            //         filter: $('#user-search').val()
            //     });
            // });

            $('.filter-api').click(function (e) {
                e.preventDefault();
                //  var selected = $('.filter-status').find(':selected').text();
                // // console.log(selected);
                // console.log(selected);
             
                // if (selected && selected.length > 0) { 
                //     e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                //     e.clear = !e.filter;
                // }
                console.log("api ---------------------");
                var username = $("#user-search").val();
                // var footableFilter = $('table').data('footable-filter');
                // footableFilter.filter(username);
                // footableFilter.clearFilter();


                $('table.demo').trigger('footable_filter', {

                filter:  username

                });



                // $('.demo').trigger('footable_filter', {
                //     filter: selected
                // });

 
                //get the footable filter object
                // var footableFilter = $('table').data('footable-filter');
                
                // // alert('about to filter table by "tech"');
                // //filter by 'tech'
                // var selected = $('.filter-status').find(':selected').text();
                // // console.log(selected);
                // //  if (selected && selected.length > 0) { 
                // //     e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                // //     e.clear = !e.filter;
                // // }
                // var username = $("#user-search").val();
                // var waste = $("#waste-type-search").val();
                // console.log(username);
                // // footableFilter.filter("111");
                // footableFilter.filter('tech');


                //clear the filter
                // if (confirm('clear filter now?')) {
                //     footableFilter.clearFilter();
                // }
            });
            $('.test').click(function (e) {
                console.log( $('.demo'));
                $('.demo').trigger('footable_filter', {
                    filter: $('#user-search').val()
                });
            });
        });
    </script>