<link rel="stylesheet" href="../assets/css/bootstrap.css">
<div class="container-fluid" id="plot">
	<div class="row">
        <div class="col-sm-6">
            
            <canvas id="canvas1" class="myChart" height="" width="33%"></canvas>
        </div>
        <div class="col-sm-offset-6">
            <canvas id="canvas2" class="myChart" height="" width="33%"></canvas>
        </div>
        
	
	</div>
    <div class="col-sm-4">
        <canvas id="canvas3" class="myChart" height="" width="30%"></canvas>
    </div>
</div>


 
 
   <!--  PLUGIN -->
   <!-- <script type="text/javascript" src="../assets/js/chart/chart.js"></script> -->
   <script type="text/javascript" src="../assets/js/chart/chart.last.js"></script>
 
  <script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
     
 
       var data1 = {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    "#6ADAE4",
                    "#F89406",
                    "#FF0064",
                    "#3498DB",
                    "#E74C3C",
                ],
                label: '进出料百分比'
            }],
            labels: [
                '进料类型1',
                '进料类型2',
                '进料类型3',
                '出料类型1',
                '出料类型2'
            ]
        };
        var data2 = {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor() 
                ],
                backgroundColor: [
                    "#6ADAE4",
                    "#F89406",
                    "#FF0064",
                    "#3498DB" 
                ],
                label: '垃圾回收及有机肥产出量'
            }],
            labels: [
                '可回收',
                '不可回收',
                '厨余垃圾',
                '其他垃圾' 
            ]
        };
        var data3 = {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor() 
                ],
                backgroundColor: [
                    "#6ADAE4",
                    "#F89406",
                    "#FF0064",
                    "#3498DB" 
                ],
                label: '投放量排名（区域内社区投放量对比）'
            }],
            labels: [
                '小王营村',
                '吕张庄村',
                '杜庄村',
                '天穆村' 
            ]
        };
     
    console.log("document.getElementById(canvas3)");
    console.log(document.getElementById("canvas3"));
     var myPolarArea1 = new Chart(document.getElementById("canvas1").getContext("2d"),{
        type: 'pie',
        data: data1,
        options: {
            responsive: true
        }

     });
     var myPolarArea2 = new Chart(document.getElementById("canvas2").getContext("2d"),{
        type: 'horizontalBar',
        data: data2,
        options: {
            responsive: true
        }

     });
     var myPolarArea3 = new Chart(document.getElementById("canvas3").getContext("2d"),{
        //type: 'doughnut',
        type: 'bar',
        data: data3,
        options: {
            responsive: true
        }

     });
</script>

  