	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/loader-style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/loader-style.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/js/progress-bar/number-pb.css"> 	  
    <link href="../assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="../assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="../assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css"> 
	<link rel="stylesheet" href="../assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">    
    <link rel="stylesheet" href="../assets/js/dataTable/css/datatables.responsive.css">  
    

    <style>
        body {
            padding-left:0px!important;
        }
</style>
<!-- <div class="skin-part"> -->
<div id="tree-wrap">
				<div class="side-bar">
					<ul class="topnav menu-left-nest">
						<li>
							<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
								<span class="widget-menu"></span>
								<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
							</a>
						</li>
					<!-- 左侧导航 -->
					<li>
						<a class="tooltip-tip ajax-load" href="#" title="Blog App">
							<i class="icon-document-edit"></i>
							<span>demo增删改查</span>
						</a>
						<ul>
							<li>
								<a class="tooltip-tip2 ajax-load" href="main.html" title="Blog List"><i
										class="entypo-doc-text"></i><span>demo1</span></a>
							</li>
							<li>
								<a class="tooltip-tip2 ajax-load" href="#" title="Blog Detail"><i
										class="entypo-newspaper"></i><span>demo2</span></a>
							</li>
						</ul>
					</li>
				
					</ul>
					<ul class="topnav menu-left-nest">
						<li>
							<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
								<span class="design-kit"></span>
								<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
							</a>
						</li>

						<li>
							<a class="tooltip-tip ajax-load" href="#" title="Dashboard">
								<i class="icon-window"></i>
								<span>随便的菜单</span>
							</a>
						</li>
					</ul>
					<ul id="menu-showhide" class="topnav menu-left-nest">
						<li>
							<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
								<span class="component"></span>
								<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
							</a>
						</li>

					
						<li>
							<a class="tooltip-tip" href="#" title="Tables">
								<i class="icon-view-thumb"></i>
								<span>菜单</span>
							</a>
							<ul>
								<li>
									<a class="tooltip-tip2 ajax-load" href="#" title="Table Static"><i
											class="entypo-layout"></i><span>Table
											Static</span></a>
								</li>
								<li>
									<a class="tooltip-tip2 ajax-load" href="#" title="Table Dynamic"><i
											class="entypo-menu"></i><span>Table
											Dynamic</span></a>
								</li>
							</ul>
						</li>

						<li>
							<a class="tooltip-tip ajax-load" href="#" title="Map">
								<i class="icon-location"></i>
								<span>Map</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
            <!-- </div> -->


            	<!-- END OF RIGHT SLIDER CONTENT-->
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script src="../assets/js/progress-bar/src/jquery.velocity.min.js"></script>
	<script src="../assets/js/progress-bar/number-pb.js"></script>
	<script src="../assets/js/progress-bar/progress-app.js"></script>



	<!-- MAIN EFFECT -->
	<script type="text/javascript" src="../assets/js/preloader.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/app.js"></script>
	<script type="text/javascript" src="../assets/js/load.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>





    <!-- END OF RIGHT SLIDER CONTENT-->
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script src="../assets/js/progress-bar/src/jquery.velocity.min.js"></script>
	<script src="../assets/js/progress-bar/number-pb.js"></script>
	<script src="../assets/js/progress-bar/progress-app.js"></script>



	<!-- MAIN EFFECT -->
	<script type="text/javascript" src="../assets/js/preloader.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="../assets/js/app.js"></script>
	<script type="text/javascript" src="../assets/js/load.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>




	<!-- GAGE -->


	<script type="text/javascript" src="../assets/js/chart/jquery.flot.js"></script>
	<script type="text/javascript" src="../assets/js/chart/jquery.flot.resize.js"></script>
	<script type="text/javascript" src="../assets/js/chart/realTime.js"></script>
	<script type="text/javascript" src="../assets/js/countdown/jquery.countdown.js"></script>
	<script type="text/javascript">
		var output, started, duration, desired;

		// Constants
		duration = 5000;
		desired = '50';

		// Initial setup
		output = $('#speed');
		started = new Date().getTime();

		// Animate!
		animationTimer = setInterval(function () {
			// If the value is what we want, stop animating
			// or if the duration has been exceeded, stop animating
			if (output.text().trim() === desired || new Date().getTime() - started > duration) {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 60)

				);

			} else {
				console.log('animating');
				// Generate a random string to use for the next animation step
				output.text('' + Math.floor(Math.random() * 120)

				);
			}
		}, 5000);
	</script>
	<script type="text/javascript">
		$('#getting-started').countdown('2015/01/01', function (event) {
			$(this).html(event.strftime(

				'<span>%M</span>' + '<span class="start-min">:</span>' + '<span class="start-min">%S</span>'));
		});
	</script>


    <!-- GAGE -->
    <script type="text/javascript" src="../assets/js/toggle_close.js"></script>
    <script src="../assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script src="../assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable-res').footable();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#footable-res2').footable().bind('footable_filtering', function (e) {
                var selected = $('.filter-status').find(':selected').text();
                 if (selected && selected.length > 0) {                      e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected; 
                    e.clear = !e.filter;
                }
            });

            $('.savebtn').click(function (e) {
                console.log(123213);
                console.log($("#table22"));
                var tr = '<tr>  <td>Lauri</td> <td>姆斯基</td> <td>jack 穆</td> \
                    <td data-value="500874333932">1999-11-11</td>  <td data-value="3"> \
                        <span class="status-metro status-suspended" \
                            title="Suspended">辞退</span>  </td>  </tr>';
                // $("#table22").html(tr); 
                $("#table22").append(tr);
            });
            $('.clear-filter').click(function (e) {
                e.preventDefault();
                $('.filter-status').val('');
                $('table.demo').trigger('footable_clear_filter');
            });

            $('.filter-status').change(function (e) {
                e.preventDefault();
                $('table.demo').trigger('footable_filter', {
                    filter: $('#filter').val()
                });
            });

            $('.filter-api').click(function (e) {
                e.preventDefault();

                //get the footable filter object
                var footableFilter = $('table').data('footable-filter');

                alert('about to filter table by "tech"');
                //filter by 'tech'
                footableFilter.filter('tech');

                //clear the filter
                if (confirm('clear filter now?')) {
                    footableFilter.clearFilter();
                }
            });
        });
    </script>